@{
    ViewData["Title"] = "Confirmation email";
}

<h2>Confirmation email</h2>
<div class="alert alert-warning">To complete the registration, check your email and follow the link provided in the email!</div>