@{
    ViewData["Title"] = "Confirm new password setting";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-success">
    Your password is set. Please click <a asp-action="Login">here</a> for authorization.
</div>